html{
  font-size: 18px;
  font-family: Helvetica;
}

/*__________Site content containers___________*/

body{
  font-family: Helvetica;
}
.jumbotron{
  background-image: url(../images/glasses-bg.png);  /*jumbotron  picture*/
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
}

/*__________General content container__________*/

.content{
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/*__________Header with logo & Name__________*/

header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  width: 960px;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

/*__________Header Nav Menu__________*/

nav{
  display:flex;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
nav li{
  padding-right: 2rem;
}
a{
  text-decoration: none;
  color: white;
}
.small{
  display: none;
}

/*__________Jumbotron floating banner__________*/

h1{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.banner h1{
  background-color: white;
  padding: 1.5rem 5rem;
  position: absolute;
  top: calc(10rem + 4.4rem);
  right: -2rem;
}

/*__________Services - Exam, Fittings, Delivery __________*/

.services{
  width: 960px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}
.service, .service_wide{
  height: 8rem;
  margin: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.service img{
  width: 3.5rem;
}
.service_wide img{
  width: 5rem;
}

/*__________Information - Philosophy, Appointemts __________*/
.info_container{
  width: 960px;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: center;
}
.info{
  width: 35%;
  margin: 0 2.5%;
}
.info h2{
  width: 10rem;
  padding: 0.5rem 0 0.5rem 1.25rem ;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
}
.info p{
  margin-top: 1rem;
}

/*__________Information - Philosophy, Appointemts __________*/
footer{
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: azure;
}
footer img{
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}
/*
h4{
  font-size: 1rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-bottom: .25rem;
  margin-left: 3rem;
}

nav{
  width: 100%;
  background-color: firebrick;
  color: white;
}
ul{
  display: flex;
  width: 960px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
li{
  padding: .75rem 0;
}
a{
  color: white;
  text-decoration: none;
}
.content{
  display: flex;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
}
.product{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 30%;
  border: 4px solid black;
  margin: 3rem 0 3rem 0;
}
.product img{
  height: 9rem;
  margin: 2rem auto;
}
.large-png{
  width: 11rem;
  height: auto !important;
  margin: auto !important;
}
.product p{
  padding: .5rem 0 .5rem 0;
  text-align: center;
}
.info{
  width: 35%;
  margin: 3rem 0 4rem 0;
}
.info p{
  padding: .25rem;
}
.info p.banner{
  padding: 1rem 0 1rem 2rem;
}
footer{
  display: flex;
  align-items: center;
  width: 960px;
  height: 5rem;
  margin: 0 auto;
}
*/
/* MEDIA QUERY RULES

@media only screen and (max-width: 1024px) {
    h1{
      font-size:1.5rem;
    }
    h4{
      font-size: .75rem;
    }
    ul{
      justify-content: center;
      width: auto;
    }
    .main.banner{
      width: 20em;
      top: 11em;
    }
    .wide{
      display: none;
    }
    .glasses{
      display: none;
    }
    .product{
      width: 47%;
    }
@media only screen and (max-width: 470px) {
    .promotion{
      height: 13rem;
    }
    .main.banner{
      width: 100%;
    }
    header, footer, .info{
      width: 100%;
    }
    h1{
      font-size: 1rem;
      padding-bottom: 1rem;
      margin-left: 2rem;
    }
    h4{
      padding-top: 1rem;
      margin-left: 2rem;
    }
    footer{
      justify-content: center;
      margin-top: 3.5rem;
    }

    .watch{
      display: none;
    }
    .product {
      width: 90%;
      margin: 3rem auto;
    }
    .content{
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
    .info{
      margin: .25rem auto;
      width: 90%;

}
*/
/*
p, h1, h3, li{
  background-color: pink;
}
*/
/*Ghost Debug Code

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
