html{
  font-size: 18px;
  font-family: Helvetica;
}

/*__________Site content containers___________*/

body{
  font-family: Helvetica, Arial, sans-serif;
}
.jumbotron{
  background-image: url(../images/glasses-bg.png);  /*jumbotron  picture*/
  background-size: cover;
  height: 30rem;
  display: flex;
  justify-content: center;
}

/*__________General content container__________*/

.content{
  width: 960px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

/*__________Header with logo & Name__________*/

header{
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 1rem;
  position: absolute;
  top: 1rem;
  width: 960px;
  padding: 1rem 0;
  background-color: cadetblue;
  color: white;
}
.logo{
  display: flex;
  align-items: center;
}
.logo img{
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

/*__________Header Nav Menu__________*/

nav{
  display:flex;
}
nav ul{
  display: flex;
  list-style: none;
  justify-content: space-around;
  align-items: center;
}
nav li{
  padding-right: 2rem;
}
a{
  text-decoration: none;
  color: white;
}
.small{
  display: none;
}

/*__________Jumbotron floating banner__________*/

h1{
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.2;
}
.banner h1{
  background-color: white;
  padding: 1.5rem 5rem;
  position: absolute;
  top: calc(10rem + 4.4rem);
  right: -2rem;
}

/*__________Services - Exam, Fittings, Delivery __________*/

.services{
  width: 960px;
  margin: 3rem auto;
  display: flex;
  justify-content: center;
}
.service, .service_wide{
  height: 8rem;
  margin: 0 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.service img{
  width: 3.5rem;
}
.service_wide img{
  width: 5rem;
}

/*__________Information - Philosophy, Appointemts __________*/
.info_container{
  width: 960px;
  margin: 0 auto 5rem auto;
  display: flex;
  justify-content: center;
}
.info{
  width: 35%;
  margin: 0 2.5%;
}
.info h2{
  width: 10rem;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 1.25rem ;
  font-weight: bold;
  background-color: cadetblue;
  color: white;
}
.info p{
  margin-top: 1rem;
}

/*__________Footer__________*/
footer{
  width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  background-color: azure;
}
footer img{
  height: 1.5rem;
  padding: 4rem 1rem 4rem 4rem;
}

/*__________Media query__________*/

@media only screen and (max-width: 1024px) {
  .jumbotron{
    height: 22rem;
  }
  header{
    top: 0;
    width: 100%;
  }
  h1{
    font-size: 1.33rem;
    font-weight: bold;
    line-height: 1.2;
  }
  .banner h1{
    padding: 0.75rem 4rem;
    top: calc(5rem + 4.4rem);
    right: 2rem;
  }
}

@media only screen and (max-width: 470px) {
  .logo span{
    display: none;
  }
  .jumbotron{
    height: 17rem;
  }
  .large{
    display: none;
  }
  .small{
    display: block;
  }
  .jumbotron{
    background-position: 20%;
  }
  h1{
    font-size: 1rem;
    font-weight: bold;
    line-height: 1;

  }
  .banner{
    width: 100%;
  }
  .banner h1{
    position: relative;
    text-align: center;
    max-width: 100%;
    right: 0;
    top: 6rem;
  }
  .services {
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 3.77rem 0;
  }
  .services p{
    font-size: 0.77rem;
  }
  .service, .service_wide{
    height: 6rem;
    margin: 1.54rem;
  }
  .info_container{
    max-width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .info{
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .info h2, .info p{
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .info p{
    width: 85%;
    margin-left: 2rem;
  }

  footer{
    max-width: 100%;
    justify-content: center;
  }
}


/*
p, h1, h3, li{
  background-color: pink;
}
*/
/*Ghost Debug Code

* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}
